.loader {
    /*margin: 2px auto;*/
    display: inline-block;
    font-size: 9px;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
.loader_color1{
    border-top: 0.3em solid rgba(255, 255, 255, 0.9);
    border-right: 0.3em solid rgba(255, 255, 255, 0.9);
    border-bottom: 0.3em solid rgba(255, 255, 255, 0.9);
    border-left: 0.3em solid rgba(0, 0, 0, 0.71);
}
.loader_color2{
    border-top: 0.3em solid rgba(255, 255, 255, 1);
    border-right: 0.3em solid rgba(255, 255, 255, 1);
    border-bottom: 0.3em solid rgba(255, 255, 255, 1);
    border-left: 0.3em solid #27d1b1;
}
.loader,
.loader:after {
    border-radius: 50%;
    width: 1em;
    height: 1em;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.overskull_progress {
    display: block;
    top:0;
    text-align: center;
    width: 0;
    height: 3px;
    background: #1aae88;
    transition: width .6s;
    position: fixed;
    z-index: 99999;


}
.overskull_progress.hide {
    opacity: 0;
    transition: opacity 1.3s;
}


#progress {
    position: fixed;
    z-index: 2147483647;
    top: 0;
    left: 0px;
    width: 0%;
    height: 2px;
    background: #27d1b1;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -moz-transition: width 500ms ease-out, opacity 400ms linear;
    -ms-transition: width 500ms ease-out, opacity 400ms linear;
    -o-transition: width 500ms ease-out, opacity 400ms linear;
    -webkit-transition: width 500ms ease-out, opacity 400ms linear;
    transition: width 500ms ease-out, opacity 400ms linear;
}
#progress dd, #progress dt {
    position: absolute;
    top: 0;
    height: 2px;
    -moz-box-shadow: #33bad1 1px 0 6px 1px;
    -ms-box-shadow: #33bad1 1px 0 6px 1px;
    -webkit-box-shadow: #33bad1 1px 0 6px 1px;
    box-shadow: #33bad1 1px 0 6px 1px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

#progress dt {
    opacity: .6;
    width: 180px;
    right: -80px;
    clip: rect(-6px, 90px, 14px, -6px);
}

#progress dd {
    opacity: .6;
    width: 20px;
    right: 0;
    clip: rect(-6px, 22px, 14px, 10px);
}